apiVersion: v1
kind: PersistentVolume
metadata:
  name: i2btech-reto-app-pv2
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: {{ .Values.persistence.logsPath }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: i2btech-reto-app-pvc2
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
