services:
  ib2btech-app:
    build: .
    image: ib2btech-app:local
    volumes:
      - ./logs:/app/logs
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    depends_on:
      - ib2btech-app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro
      - ./htpasswd/.htpasswd:/etc/nginx/.htpasswd:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge