services:
  ib2btech-app:
    build: .
    volumes:
      - ./logs:/app/logs
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs
      - ./htpasswd:/etc/nginx/.htpasswd
    depends_on:
      - ib2btech-app
    networks:
      - app-network

networks:
  app-network: